AddType x-mapp-php5 .php


Options +FollowSymLinks
RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} !^surf-lanzarote.com$ [NC]
RewriteRule ^(.*)$ http://surf-lanzarote.com/$1 [L,R=301]

ErrorDocument 404 /404.html



#RewriteCond %{REMOTE_ADDR} !213\.37\.15\.10 
#RewriteCond %{REQUEST_URI} !/index.html$ 
#RewriteRule ^(.*)$ index.html [R=301,L]

##RewriteCond %{HTTP:Accept-Language} ^([^\-,;]+[\-,;])*([a-z]{2})([-,;].+)?$ [NC]
#RewriteRule ^$ http://surf-lanzarote.com/%2/ [R=301,L]

RewriteCond %{HTTP:Accept-Language} (de) [NC]
RewriteRule ^$ http://surf-lanzarote.com/de/ [R=301,L]

#RewriteCond %{HTTP:Accept-Language} (de) [NC]
#RewriteRule ^de/$ /maintenance/index.html [L]

RewriteRule ^de/$ /maintenance/index.html [L]
RewriteRule ^de/(.*)$ /de/ [L,R=302]


RewriteCond %{HTTP:Accept-Language} (es) [NC]
RewriteRule ^$ /es/ [R=301,L]

RewriteRule ^$ /en/ [R=301,L]


RewriteRule ^es/teaching/(.+)/$ /es/cursos/$1/ [L,R=301]
RewriteRule ^es/and_relax/winery_visits/$ /es/relax/vinos_gastronomia/ [L,R=301]

RewriteRule ^es/relax/vinos_gastronomia/$ /src/and_relax/winery_visits-src.php?lang=es [L]

RewriteRule ^es/cursos/(.+)/$ /src/teaching/$1-src.php?lang=es [L]
RewriteRule ^es/relax/(.+)/$ /src/and_relax/$1-src.php?lang=es [L]
RewriteRule ^es/aventura/(.+)/$ /src/adventure/$1-src.php?lang=es [L]

RewriteRule ^(.+)/(.+)/(.+)/$ /src/$2/$3-src.php?lang=$1 [L]

RewriteRule ^(en|es|de)/(.+)/$ /$1/ [R=301,S=1,L] 
RewriteRule ^(.+)/(.+)/$ /404.html [R=404,L]


RewriteRule ^(.+)/$ /src/a_great_house-src.php?lang=$1 [L]
